# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.xcuserstate

# Build
build/
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
*.swp
*.swo
*~
